#footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 40px 40px 0 40px;
}

.footer__wrapper {
  max-width: 1344px;
  margin: 0 auto;
}

#service-links {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sl__lists {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.lists__wrapper,
.lists__list {
  width: calc(100% / 3);
  text-align: left;
}

.lists__item {
  font-family: var(--font-helvetica);
  font-size: var(--size-smaller);
  color: var(--color-grey);
  margin-bottom: 4px;
}

.lists__name {
  display: inline-block;
}

.lists__name:hover {
  color: var(--color-white);
}

.lists__name--bold {
  font-family: var(--font-tg);
  font-size: var(--size-small);
  color: var(--color-white);
  text-transform: uppercase;
  transform: scaleX(0.8) translateX(-12%);
}

.lists__toggle {
  padding: 0;
  margin-bottom: 4px;
}

.social__list {
  display: flex;
}

.social__item {
  margin-left: 16px;
}

.social__img {
  transition: 0.2s ease;
}

.social__img:hover {
  filter: brightness(2);
}

/* Sub footer */
#sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: var(--size-micro);
  color: var(--color-grey);
  border-top: 1px solid #222;
  padding-top: 20px;
}

.location {
  padding: 0 8px 8px 0;
  white-space: nowrap;
}

.location__btn {
  font-size: inherit;
}

.location__icon {
  height: 15px;
  vertical-align: bottom;
}

.location__nation {
  color: var(--color-white);
  margin: 0 8px;
}

.location__copyright {
  margin-left: 16px;
}

.policy-settings {
  display: flex;
  align-items: center;
}

.policy {
  text-align: right;
}

.policy__item {
  position: relative;
  display: inline-block;
  margin-left: 12px;
  padding: 8px;
  border-top: 2px solid transparent;
}

.policy__item .policy__link,
.policy__item .policy__show-btn,
.policy__item .cookie-settings,
.modal__link {
  transition: 0.1s ease;
}

.policy__item:hover .policy__link,
.policy__item:hover .policy__show-btn,
.policy__item:hover .cookie-settings,
.modal__link:hover {
  color: var(--color-white);
}

.policy__show-btn,
.cookie-settings {
  color: inherit;
  font-size: inherit;
}

.policy__modal {
  display: none;
  position: absolute;
  bottom: 33px;
  left: -48px;
  width: 50vw;
  max-width: 580px;
  text-align: left;
  padding: 20px 28px;
  background: var(--color-black);
  border: 1px solid var(--color-white);
  z-index: 1;
}

.policy__item--modal:hover {
  border-top: 2px solid white;
}

.policy__item--modal:hover .policy__modal {
  display: block;
}

.modal__link {
  display: inline-block;
  width: 30%;
  line-height: 2;
  padding: 0 8px;
}

@media screen and (max-width: 1024px) {
  #footer {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (max-width: 640px) {
  #footer {
    padding: 20px 18px 0 18px;
  }

  #service-links {
    flex-direction: column;
  }

  .sl__lists {
    flex-direction: column;
    width: 100%;
  }

  .lists__wrapper {
    width: 100%;
  }

  .lists__list {
    width: 100%;
    padding: 8px 15px;
  }

  .lists__wrapper:nth-child(2) {
    border-top: 1px solid #222;
  }

  .lists__wrapper .lists__list {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #222;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
  }

  .lists__toggle {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 16px;
    margin: 0;
  }

  .lists__toggle:after {
    content: '+';
    position: absolute;
    top: 17px;
    right: 16px;
    font-family: system-ui;
    font-size: var(--size-larger);
    color: var(--color-white);
    font-weight: 200;
    width: 16px;
    height: 16px;
    position: absolute;
    line-height: 16px;
    transform: scaleX(1.1);
  }

  .lists__toggle.show:after {
    content: '-';
  }

  .lists__toggle.show + .lists__list {
    max-height: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    visibility: visible;
    opacity: 1;
  }

  .sl__social {
    margin-top: 16px;
  }

  #sub-footer {
    flex-direction: column;
    align-items: flex-start;
    border-top: none;
    padding: 0 18px;
  }

  .location {
    text-align: left;
    padding-top: 12px;
  }

  .location__btn {
    padding: 0;
  }

  .location__copyright {
    display: block;
    padding-top: 20px;
    padding-bottom: 24px;
    margin: 0;
  }

  .policy-settings {
    width: 100%;
    padding-bottom: 12px;
  }

  .policy {
    text-align: left;
  }

  .policy__item {
    display: block;
    margin-left: 0;
    padding: 8px 0;
  }

  .policy__show-btn,
  .cookie-settings {
    padding: 0;
  }

  .policy__modal {
    left: -1px;
    width: 80vw;
  }
}
