#footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 40px 40px 0 40px;
}

.footer__wrapper {
  max-width: 1344px;
  margin: 0 auto;
}

#service-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sl__lists {
  width: 75%;
  display: flex;
}

.lists__list {
  width: 25%;
  text-align: left;
}

.lists__item {
  font-family: var(--font-helvetica);
  font-size: var(--size-smaller);
  color: var(--color-grey);
  margin-bottom: 4px;
}

.lists__name {
  display: inline-block;
}

.lists__name:hover {
  color: var(--color-white);
}

.lists__item--bold {
  transform: scaleX(0.8) translateX(-12%);
}

.lists__name--bold {
  font-family: var(--font-tg);
  font-size: var(--size-small);
  color: var(--color-white);
  text-transform: uppercase;
}

.social__list {
  display: flex;
}

.social__item {
  margin-left: 16px;
}

.social__img {
  transition: 0.2s ease;
}

.social__img:hover {
  filter: brightness(2);
}

/* Sub footer */
#sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--size-micro);
  color: var(--color-grey);
  border-top: 1px solid #222;
  padding-top: 20px;
}

.location {
  padding: 0 8px 4px 8px;
}

.location__btn {
  font-size: inherit;
}

.location__icon {
  height: 15px;
  vertical-align: bottom;
}

.location__nation {
  color: var(--color-white);
  margin: 0 8px;
}

.location__copyright {
  margin-left: 16px;
}

.policy-settings {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.policy {
  display: flex;
}

.policy__item {
  position: relative;
  margin-left: 12px;
  padding: 8px;
}

.policy__item .policy__link,
.policy__item .policy__show-btn,
.policy__item .cookie-settings,
.modal__link {
  transition: 0.1s ease;
}

.policy__item:hover .policy__link,
.policy__item:hover .policy__show-btn,
.policy__item:hover .cookie-settings,
.modal__link:hover {
  color: var(--color-white);
}

.policy__show-btn,
.cookie-settings {
  color: inherit;
  font-size: inherit;
}

.policy__modal {
  display: none;
  position: absolute;
  bottom: 33px;
  left: -48px;
  width: 50vw;
  max-width: 580px;
  text-align: left;
  padding: 20px 28px;
  background: var(--color-black);
  border: 1px solid var(--color-white);
  z-index: 1;
}

.policy__item--modal:hover {
  border-top: 2px solid white;
}

.policy__item--modal:hover .policy__modal {
  display: block;
}

.modal__link {
  display: inline-block;
  width: 30%;
  line-height: 2;
  padding: 0 8px;
}
