#header {
  display: flex;
  flex-direction: column;
}

.limiter {
  margin: auto;
  max-width: 1808px;
}

#sub-header {
  background-color: var(--color-white-greyish);
  height: 36px;
  padding: 0 38px;
  order: 1;
}

#navbar.search-mode + #sub-header {
  height: 106px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.family__links {
  display: flex;
}

.family__link {
  padding-left: 12px;
  padding-right: 5px;
}

.family__logo {
  width: 24px;
  height: 24px;
}

.family__link:hover .family__logo {
  opacity: 0.75;
}

.quick {
  font-size: var(--size-smaller);
  font-weight: 500;
}

.quick__link {
  padding: 4px 8px;
}

.quick__link:hover {
  color: var(--color-grey);
}

.quick__link-container {
  display: inline-block;
  position: relative;
}

.quick__help-modal {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 150%;
  width: 250px;
  background-color: var(--color-white);
  text-align: left;
  z-index: 2;
  padding: 28px 24px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-2%);
  transition: 0.3s ease;
}

.quick__help-modal:before {
  content: '';
  width: 20%;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 0;
}

.quick__link--help:hover + .quick__help-modal,
.quick__help-modal:hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.help-modal__title {
  display: inline-block;
  font-size: var(--size-medium);
  padding: 4px 8px;
  margin-bottom: 12px;
}

.help-modal__item {
  padding: 4px 8px;
  color: var(--color-grey-dark);
  transition: 0.1s ease;
}

.help-modal__item:hover {
  color: var(--color-black);
}

#navbar {
  order: 2;
  z-index: 2;
}

.navbar__wrapper {
  margin: 0 auto;
  padding: 0 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__home {
  width: 84px;
  height: 68px;
  padding: 0 12px;
  z-index: 1;
  line-height: 68px;
}

.navbar__logo {
  vertical-align: middle;
}

.navbar__home:hover .navbar__logo {
  opacity: 0.75;
}

.navbar__menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 67px;
  overflow: hidden;
}

.navbar__menu-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 640px);
  margin: 0 auto;
}

.navbar__menu-item {
  display: inline-block;
  position: relative;
}

.navbar__menu-item:after {
  content: '';
  background: url(../img/next.svg) center/contain no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
}

.navbar__link {
  position: relative;
  font-weight: var(--weight-bold);
  line-height: 68px;
  display: inline-block;
  padding: 0 12px;
  white-space: nowrap;
}

.navbar__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  transition: opacity 0.1s ease;
  opacity: 0;
}

.navbar__link:hover:after {
  opacity: 1;
}

.navbar__family {
  display: none;
  margin-top: 12px;
}

.navbar__family .family__link {
  display: block;
  width: 100%;
  line-height: 40px;
}

.navbar__family .family__logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 12px;
}

.navbar__family .family__title {
  font-size: var(--size-medium);
}

.navbar__account {
  display: none;
  margin: 50px 12px 0;
  padding-top: 48px;
}

.account__desc {
  width: 80%;
  padding-bottom: 16px;
}

.account__text {
  color: var(--color-grey-dark);
  line-height: 1.2;
}

.account__link {
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.account__btns {
  margin-top: 8px;
}

.account__btn {
  display: inline-block;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--size-medium);
  font-weight: 500;
  height: 40px;
  padding: 8px 24px;
  border-radius: 25px;
  margin: 8px 8px 0 0;
}

.account__btn:hover {
  opacity: 0.8;
}

.account__btn--white {
  background-color: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-grey-light);
}

.account__btn--white:hover {
  opacity: 1;
  box-shadow: inset 0 0 3px #00000020;
}

.navbar__menu .navbar__btns {
  display: none;
  margin-top: 50px;
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
}

.navbar__menu .navbar__btn {
  display: block;
  width: 100%;
  padding: 0 0 12px;
}

.navbar__menu .navbar__btn:hover {
  background-color: transparent;
}

.navbar__btn-icon {
  vertical-align: middle;
  margin-right: 12px;
}

.navbar__dropdown {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: 0.2s ease, opacity 0.3s ease;
  transform: translateY(-45%) scaleY(0.1);
}

.navbar__dropdown {
  background-color: var(--color-white);
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  padding: 16px 40px 55px 40px;
}

.navbar__menu-item:hover .navbar__dropdown {
  visibility: visible;
}

.navbar__menu-wrapper:hover .navbar__dropdown {
  opacity: 1;
  transform: translateY(0) scaleY(1);
}

.dropdown__container {
  display: flex;
  width: 80%;
  max-width: 1344px;
  justify-content: space-around;
  text-align: left;
  font-weight: var(--weight-bold);
  max-width: 1344px;
  margin: 0 auto;
}

.dropdown__list {
  padding: 16px 8px 0 8px;
}

.dropdown__title {
  display: inline-block;
  margin-bottom: 14px;
}

.dropdown__link {
  display: block;
  font-size: var(--size-small);
  color: var(--color-grey-dark);
  margin-bottom: 6px;
  transition: 0.1s ease;
}

.dropdown__link:hover {
  color: var(--color-black);
}

.navbar__container {
  display: flex;
}

.search__tab {
  background-color: var(--color-white-greyish);
  border-radius: 25px;
  z-index: 1;
  position: relative;
  height: 40px;
  width: 180px;
  transition: width 0.25s ease;
}

.search__btn {
  display: flex;
  position: absolute;
  left: 2px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  align-items: center;
  border-radius: 100px;
  padding: 0 8px;
}

.search__btn:hover {
  background-color: var(--color-grey-bright);
}

.search__icon {
  width: 24px;
  height: 24px;
}

.search__input {
  font-weight: var(--weight-bold);
  width: 100%;
  height: 40px;
  padding: 8px 48px;
  border-radius: 100px;
}

.search__input:hover {
  background-color: var(--color-grey-bright);
}

.search__input::placeholder {
  font-weight: 500;
  font-size: var(--size-medium);
  color: var(--color-grey-light);
}

.search__input:hover::placeholder {
  color: var(--color-grey);
}

#navbar.search-mode {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  animation: change-fixed 0.5s;
}

#navbar.search-mode .search__tab {
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
}

.search__exit-btn {
  display: none;
}

#navbar.search-mode .search__exit-btn {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--color-white-greyish);
  border-radius: 50%;
  padding: 8px;
  z-index: 3;
}

#navbar.search-mode .search__exit-btn:hover {
  background-color: var(--color-grey-bright);
}

.search__exit-btn:hover {
  background-color: var(--color-grey-bright);
}

.search__exit-icon {
  width: 12px;
  height: 12px;
}

.search__popular {
  visibility: hidden;
  position: absolute;
  background-color: var(--color-white);
  top: 70px;
  left: 0;
  right: 0;
  text-align: left;
  padding: 26px 48px 48px;
}

.search__popular-wrapper {
  width: 500px;
  margin: 0 auto;
}

.search__popular-title {
  display: inline-block;
  color: var(--color-grey-dark);
  margin-bottom: 16px;
}

.search__popular-item {
  font-size: var(--size-large);
  margin-bottom: 12px;
}

.search__popular-item:hover {
  opacity: 0.8;
}

.search-mode .search__popular {
  visibility: visible;
}

#navbar.search-mode .navbar__menu,
#navbar.search-mode .navbar__btns {
  visibility: hidden;
}

.navbar__wrapper:before {
  content: '';
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 106px;
  bottom: 0;
  background-color: rgba(18, 18, 18, 0.36);
  opacity: 0;
  z-index: -1;
  backdrop-filter: blur(4px);
  transition: 0.8s ease;
}

.navbar__wrapper:after {
  content: '';
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(18, 18, 18, 0.36);
  opacity: 0;
  z-index: 1;
  backdrop-filter: blur(4px);
  transition: 0.8s ease;
}

#navbar.search-mode .navbar__wrapper:before {
  visibility: visible;
  opacity: 1;
}

#navbar.open-mode .navbar__wrapper:after {
  visibility: visible;
  opacity: 1;
}

.navbar__btns {
  margin-left: 24px;
  display: flex;
  z-index: 1;
}

.navbar__btn {
  width: 40px;
  height: 40px;
  padding: 6px;
  margin-right: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar__btn:hover {
  background-color: var(--color-grey-bright);
}

.navbar__hamburger {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 2px;
  margin-top: 2px;
  margin-left: 8px;
  order: 2;
  z-index: 2;
}

.navbar__hamburger:hover {
  background-color: var(--color-grey-bright);
}

#slide-banner {
  background-color: var(--color-white-greyish);
  height: 58px;
  border-bottom: 1px solid #e5e5e5;
  order: 3;
  overflow: hidden;
}

.slide-banner__wrapper {
  height: 100%;
  white-space: nowrap;
  transition: transform 1s ease;
}

.slide-banner__slide {
  position: relative;
  display: inline-block;
  font-size: var(--size-smaller);
  width: 100%;
  height: 100%;
}

.slide-banner__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-banner__text {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
}

.slide-banner__text--inline {
  font-size: var(--size-smaller);
  font-weight: var(--weight-regular);
  line-height: 0;
  display: inline;
}

.slide-banner__link {
  margin-left: 0.1em;
  text-decoration: underline;
  font-weight: var(--weight-bold);
}

@keyframes change-fixed {
  0% {
    top: 36px;
  }
  50% {
    top: 36px;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  body.open-mode {
    overflow-y: hidden;
  }

  .navbar__wrapper {
    padding: 0 12px;
  }

  #sub-header {
    display: none;
  }

  .navbar__menu {
    overflow-y: scroll;
    top: 0;
    left: unset;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: var(--color-white);
    text-align: left;
    font-size: var(--size-large);
    padding: 36px 24px 150px;
    z-index: 3;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s ease;
  }

  #navbar.open-mode .navbar__menu {
    visibility: visible;
    transform: translateX(0);
  }

  .navbar__menu-wrapper {
    flex-direction: column;
    width: 100%;
    margin-right: 36px;
  }

  .navbar__menu-item {
    width: 100%;
  }

  .navbar__dropdown {
    display: none;
  }

  .navbar__menu-item:hover .navbar__dropdown {
    visibility: hidden;
  }

  .navbar__menu-wrapper:hover .navbar__dropdown {
    opacity: 0;
    transform: unset;
  }

  .navbar__link {
    line-height: 48px;
  }

  .navbar__link:after {
    display: none;
  }

  .navbar__family,
  .navbar__account,
  .navbar__menu .navbar__btns {
    display: block;
  }

  .navbar__search-box {
    order: 1;
  }

  .search__tab {
    background-color: transparent;
    width: 40px;
  }

  .search__input {
    width: 0;
    padding: 0;
  }

  .search__input:hover {
    background-color: transparent;
  }

  #navbar.search-mode .navbar__home {
    visibility: hidden;
  }

  #navbar.search-mode .search__tab {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    background-color: var(--color-white);
    z-index: 3;
  }

  #navbar.search-mode .search__input {
    width: 90%;
    background-color: var(--color-white-greyish);
    padding: 8px 48px;
  }

  #navbar.search-mode .search__btn {
    left: 24px;
  }

  .search__popular-wrapper {
    margin: 0;
  }

  .search__popular {
    padding-left: 36px;
  }

  .navbar__btns {
    padding-top: 2px;
  }

  .navbar__btn--fav {
    display: none;
  }

  .navbar__btn {
    margin-right: 8px;
  }

  .navbar__hamburger {
    display: block;
  }

  .slide-banner__contents {
    white-space: normal;
  }
}

@media screen and (max-width: 640px) {
}
