#contents {
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 1808px;
}

.section-title {
  margin: 0;
  font-size: var(--size-larger);
  text-align: left;
  margin-bottom: 24px;
}

#dont-miss,
#more-nike {
  margin-top: 84px;
}

/* Banner */
.banner {
  padding: 0 8px;
  margin: 48px 48px 0 48px;
}

.banner__container {
  display: flex;
  justify-content: center;
  margin: 0 -8px;
}

.banner__item {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 0 8px;
}

.banner__wrapper {
  overflow: hidden;
}

.banner__video {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: block;
  z-index: -1;
}

.banner__img-wrapper {
  width: 100%;
}

.banner__img {
  width: 100%;
  display: block;
}

.banner__link {
  position: absolute;
}

.banner__caption {
  margin-top: 40px;
  font-size: var(--size-large);
}

.banner__caption--inner {
  position: absolute;
  text-align: left;
}

.inner--single-large-lb {
  left: 5%;
  bottom: 10%;
}

.inner--twin-lb {
  left: 10%;
  bottom: 10%;
}

.inner--triple-lb {
  left: 11%;
  bottom: 7%;
}

.banner__title {
  margin-bottom: 18px;
  font-weight: var(--weight-bold);
  white-space: pre-wrap;
}

.banner__title--white {
  color: var(--color-white);
}

.banner__title--larger {
  font-size: var(--size-mega);
  font-family: var(--font-futura);
  font-weight: var(--weight-extra-bold);
}

.banner__btn {
  display: inline-block;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--size-medium);
  font-weight: 500;
  height: 40px;
  padding: 8px 28px;
  border-radius: 25px;
  margin: 6px 6px 0 0;
}

.banner__btn--white {
  background-color: var(--color-white);
  color: var(--color-black);
}

.banner__btn:hover {
  opacity: 0.75;
}

.caption--wrapper {
  width: 70%;
}

.caption--wrapper .banner__title {
  line-height: 1.1;
}

/* Slide list */
.slidelist {
  position: relative;
  padding-bottom: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.slidelist__header {
  max-width: 1808px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--weight-bold);
  padding: 8px;
  margin: 0 48px;
}

.slidelist__listwrapper {
  position: relative;
  overflow: hidden;
  padding: 0 8px;
  margin-bottom: 44px;
}

.slidelist__list {
  white-space: nowrap;
  position: relative;
  width: 100%;
  left: 48px;
  font-size: 0;
  transition: transform 0.2s ease;
}

.slidelist__item {
  display: inline-block;
  margin-right: 16px;
  font-size: 1rem;
}

.slidelist__item:last-child {
  margin-right: 0;
}

.item__wrapper .item__img,
.item__hover-message,
.item__badge-icon {
  transition: 0.3s ease;
}

.item__img-wrapper {
  position: relative;
}

.item__img-wrapper:hover .item__img,
.item__img:hover {
  opacity: 0.75;
}

.item__badge {
  white-space: normal;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
}

.item__img-wrapper:hover .item__badge {
  height: 100%;
}

.item__badge-icon {
  background-color: var(--color-white);
  width: 36px;
  height: 36px;
  line-height: 30px;
  border-radius: 50%;
}

.item__img-wrapper:hover .item__badge-icon {
  background-color: var(--color-grey-bright);
}

.item__msg-wrapper {
  width: 60%;
}

.item__hover-message {
  opacity: 0;
  margin-top: 24px;
  text-align: left;
  color: var(--color-brown);
  font-size: var(--size-larger);
}

.item__img-wrapper:hover .item__hover-message {
  opacity: 1;
}

.item__img {
  width: 100%;
}

.item__info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 12px;
  margin-right: 16px;
  line-height: 1.5;
}

.item__member-exclusive {
  color: var(--color-brown);
}

.item__title {
  margin: 0;
  white-space: pre-wrap;
}

.item__category {
  color: var(--color-grey-dark);
  margin: 0;
}

.item__price {
  font-weight: var(--weight-bold);
}

.slidelist__btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 140px;
  opacity: 0;
  transition: 0.3s ease;
}

.slidelist__btn:hover {
  opacity: 1;
}

.slidelist__btn--left {
  left: 0;
}

.slidelist__btn--right {
  right: 0;
}

.slidelist__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  border-radius: 50%;
  margin: 0 auto;
  z-index: 1;
  transform: translateY(-70%);
}

.slidelist__btn--left .slidelist__icon-wrapper {
  margin-right: 20px;
}

.slidelist__btn--right .slidelist__icon-wrapper {
  margin-left: 20px;
}

.slidelist__icon {
  height: 18px;
}

.slidelist__scroll-line {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 50vw;
  height: 4px;
  background-color: var(--color-grey-bright);
  border-radius: 4px;
  opacity: 0;
  transform: translateX(-50%);
}

.slidelist__scrollBtn {
  position: absolute;
  left: 0;
  height: 4px;
  background-color: var(--color-grey-dark);
  border-radius: 4px;
  opacity: 0;
  padding: 0;
  transition: transform 0.2s ease;
}

.slidelist:hover .slidelist__scroll-line,
.slidelist:hover .slidelist__scrollBtn {
  opacity: 1;
}

.slidelist__scrollBtn:active {
  background-color: var(--color-black);
}

/* Table */
.table {
  display: flex;
  max-width: 920px;
  justify-content: space-around;
  text-align: left;
  padding: 0 20px 48px;
  margin: 84px auto 0;
}

.table__title {
  margin-bottom: 24px;
  cursor: default;
}

.table__list {
  color: var(--color-grey-dark);
}

.table__item {
  margin-bottom: 20px;
}

.table__link {
  transition: 0.1s ease;
}

.table__link:hover {
  color: var(--color-black);
}

.table__hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.8s ease;
}

.table:hover .table__hidden {
  visibility: visible;
  opacity: 1;
  height: 200px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
}
